
/* Your CSS Code here. */
#size-chart {
  width: 600px;
  border-collapse: collapse;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px auto;
}

thead th {
  background-color: #9e3b3b;
  color: white;
  padding: 8px;
  border: 1px solid #555;
}

tbody td {
  padding: 8px;
 border: 1px solid #555;
 
}

tbody tr:nth-child(1) {
  background-color: #da9694;
}

tbody tr:nth-child(2) {
  background-color: #f2dcdb;
}

tbody tr:nth-child(3) {
  background-color: #d9d9d9;
}

tbody td:first-child {
  font-weight: bold;
}
